* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    min-width: 100%;
    min-height: 100vh;
    background: url(images/background.jpg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
}

.toast {
    position: absolute;
    right: 20px;
    bottom: 20px;
}